<div class="row">
  <div class="col-md-2 panel panel-default navlinks">
    <% @stores.each do |l| %>
      <h5><a href="#<%= l.title %>"><%= l.title %></a></h5>
    <% end %>
    <hr noshade>
    <h5><a href="#">Back to top</a></h5>
  </div>
</div>
<div class="row">
  <% @stores.each do |s| %>
    <div class="col-md-9 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
        <h4 id="<%= s.title %>" class="head"><i class="fa fa-building-o"></i> <%= s.title %>|<small><i class="fa fa-mobile"></i> <%= s.number %></small></h4>
      </div>
      <div class="panel-body">
        <% if s.gmap.blank? %>
        <% else %>
          <%= s.gmap %>
          <hr>
        <% end %>
        <div class="details">
          <p class="text-center"><%= s.address %></p>
          <p class="text-center"><i class="fa fa-clock-o"></i> <%= s.hours %></p>
        </div>
      </div>
      </div>
    </div>
  <% end %>
</div>

